// Specific CSS for your home-page
.img-background {
  background-image: url(adam-jaime-119551-unsplash.jpg);
  height: 100vh;
  background-size: cover;
}

#title-main {
  padding: 30px;
  color: white;
}

h2, p, a {
  color: white;
}

p, a {
  font-size: 18px
}

a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
